@{
  ViewData["Title"] = "B4 Model Data";

}

@* ************** Content ************** *@
<div class="col-xl-12">
    <div class="card mb-10">
        <h5 class="card-header">PARAMETERS DISPLAY ON TOPVIEW</h5>
        <div class="row">
          <div class="col-10">
                <!-- B3 -->
                <div class="row row-bordered g-0" id="lineid_b3">
                    <div class="col-md p-5">
                        <small class="text-light fw-medium d-block">Model B3</small>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_1" value="1" onclick="setDisplay('b3_1')" />
                            <label class="form-check-label" for="b3_1">1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_2" value="1" onclick="setDisplay('b3_2')" />
                            <label class="form-check-label" for="b3_2">2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_3" value="1" onclick="setDisplay('b3_3')" />
                            <label class="form-check-label" for="b3_3">3</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_4" value="1" onclick="setDisplay('b3_4')" />
                            <label class="form-check-label" for="b3_4">4</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_5" value="1" onclick="setDisplay('b3_5')" />
                            <label class="form-check-label" for="b3_5">5</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_6" value="1" onclick="setDisplay('b3_6')" />
                            <label class="form-check-label" for="b3_6">6</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_7" value="1" onclick="setDisplay('b3_7')" />
                            <label class="form-check-label" for="b3_7">7</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_8" value="1" onclick="setDisplay('b3_8')" />
                            <label class="form-check-label" for="b3_8">8</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_9" value="1" onclick="setDisplay('b3_9')" />
                            <label class="form-check-label" for="b3_9">9</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_91" value="1" onclick="setDisplay('b3_91')" />
                            <label class="form-check-label" for="b3_91">9.1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_92" value="1" onclick="setDisplay('b3_92')" />
                            <label class="form-check-label" for="b3_92">9.2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b3_10" value="1" onclick="setDisplay('b3_10')" />
                            <label class="form-check-label" for="b3_10">10</label>
                        </div>
                    </div>
                </div>
                <!-- b4 -->
                <div class="row row-bordered g-0" id="lineid_b4">
                    <div class="col-md p-5">
                        <small class="text-light fw-medium d-block">Model B4</small>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_1" value="1" onclick="setDisplay('b4_1')" />
                            <label class="form-check-label" for="b4_1">1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_2" value="1" onclick="setDisplay('b4_2')" />
                            <label class="form-check-label" for="b4_2">2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_3" value="1" onclick="setDisplay('b4_3')" />
                            <label class="form-check-label" for="b4_3">3</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_4" value="1" onclick="setDisplay('b4_4')" />
                            <label class="form-check-label" for="b4_4">4</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_5" value="1" onclick="setDisplay('b4_5')" />
                            <label class="form-check-label" for="b4_5">5</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_6" value="1" onclick="setDisplay('b4_6')" />
                            <label class="form-check-label" for="b4_6">6</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_7" value="1" onclick="setDisplay('b4_7')" />
                            <label class="form-check-label" for="b4_7">7</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_8" value="1" onclick="setDisplay('b4_8')" />
                            <label class="form-check-label" for="b4_8">8</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_9" value="1" onclick="setDisplay('b4_9')" />
                            <label class="form-check-label" for="b4_9">9</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_91" value="1" onclick="setDisplay('b4_91')" />
                            <label class="form-check-label" for="b4_91">9.1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_92" value="1" onclick="setDisplay('b4_92')" />
                            <label class="form-check-label" for="b4_92">9.2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b4_10" value="1" onclick="setDisplay('b4_10')" />
                            <label class="form-check-label" for="b4_10">10</label>
                        </div>
                    </div>
                </div>
                <!-- b5 -->
                <div class="row row-bordered g-0" id="lineid_b5">
                    <div class="col-md p-5">
                        <small class="text-light fw-medium d-block">Model B5</small>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_1" value="1" onclick="setDisplay('b5_1')" />
                            <label class="form-check-label" for="b5_1">1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_2" value="1" onclick="setDisplay('b5_2')" />
                            <label class="form-check-label" for="b5_2">2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_3" value="1" onclick="setDisplay('b5_3')" />
                            <label class="form-check-label" for="b5_3">3</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_4" value="1" onclick="setDisplay('b5_4')" />
                            <label class="form-check-label" for="b5_4">4</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_5" value="1" onclick="setDisplay('b5_5')" />
                            <label class="form-check-label" for="b5_5">5</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_6" value="1" onclick="setDisplay('b5_6')" />
                            <label class="form-check-label" for="b5_6">6</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_7" value="1" onclick="setDisplay('b5_7')" />
                            <label class="form-check-label" for="b5_7">7</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_8" value="1" onclick="setDisplay('b5_8')" />
                            <label class="form-check-label" for="b5_8">8</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_9" value="1" onclick="setDisplay('b5_9')" />
                            <label class="form-check-label" for="b5_9">9</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_91" value="1" onclick="setDisplay('b5_91')" />
                            <label class="form-check-label" for="b5_91">9.1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_92" value="1" onclick="setDisplay('b5_92')" />
                            <label class="form-check-label" for="b5_92">9.2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b5_10" value="1" onclick="setDisplay('b5_10')" />
                            <label class="form-check-label" for="b5_10">10</label>
                        </div>
                    </div>
                </div>
                <!-- b7 -->
                <div class="row row-bordered g-0" id="lineid_b7">
                    <div class="col-md p-5">
                        <small class="text-light fw-medium d-block">Model B7</small>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_1" value="1" onclick="setDisplay('b7_1')" />
                            <label class="form-check-label" for="b7_1">1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_2" value="1" onclick="setDisplay('b7_2')" />
                            <label class="form-check-label" for="b7_2">2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_3" value="1" onclick="setDisplay('b7_3')" />
                            <label class="form-check-label" for="b7_3">3</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_4" value="1" onclick="setDisplay('b7_4')" />
                            <label class="form-check-label" for="b7_4">4</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_5" value="1" onclick="setDisplay('b7_5')" />
                            <label class="form-check-label" for="b7_5">5</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_6" value="1" onclick="setDisplay('b7_6')" />
                            <label class="form-check-label" for="b7_6">6</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_7" value="1" onclick="setDisplay('b7_7')" />
                            <label class="form-check-label" for="b7_7">7</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_8" value="1" onclick="setDisplay('b7_8')" />
                            <label class="form-check-label" for="b7_8">8</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_9" value="1" onclick="setDisplay('b7_9')" />
                            <label class="form-check-label" for="b7_9">9</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_91" value="1" onclick="setDisplay('b7_91')" />
                            <label class="form-check-label" for="b7_91">9.1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_92" value="1" onclick="setDisplay('b7_92')" />
                            <label class="form-check-label" for="b7_92">9.2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b7_10" value="1" onclick="setDisplay('b7_10')" />
                            <label class="form-check-label" for="b7_10">10</label>
                        </div>
                    </div>
                </div>
                <!-- b9p -->
                <div class="row row-bordered g-0" id="lineid_b9p">
                    <div class="col-md p-5">
                        <small class="text-light fw-medium d-block">Model B9 PAM</small>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_1" value="1" onclick="setDisplay('b9p_1')" />
                            <label class="form-check-label" for="b9p_1">1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_2" value="1" onclick="setDisplay('b9p_2')" />
                            <label class="form-check-label" for="b9p_2">2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_3" value="1" onclick="setDisplay('b9p_3')" />
                            <label class="form-check-label" for="b9p_3">3</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_4" value="1" onclick="setDisplay('b9p_4')" />
                            <label class="form-check-label" for="b9p_4">4</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_5" value="1" onclick="setDisplay('b9p_5')" />
                            <label class="form-check-label" for="b9p_5">5</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_6" value="1" onclick="setDisplay('b9p_6')" />
                            <label class="form-check-label" for="b9p_6">6</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_7" value="1" onclick="setDisplay('b9p_7')" />
                            <label class="form-check-label" for="b9p_7">7</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_8" value="1" onclick="setDisplay('b9p_8')" />
                            <label class="form-check-label" for="b9p_8">8</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_9" value="1" onclick="setDisplay('b9p_9')" />
                            <label class="form-check-label" for="b9p_9">9</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_91" value="1" onclick="setDisplay('b9p_91')" />
                            <label class="form-check-label" for="b9p_91">9.1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_92" value="1" onclick="setDisplay('b9p_92')" />
                            <label class="form-check-label" for="b9p_92">9.2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9p_10" value="1" onclick="setDisplay('b9p_10')" />
                            <label class="form-check-label" for="b9p_10">10</label>
                        </div>
                    </div>
                </div>
                <!-- b9s -->
                <div class="row row-bordered g-0" id="lineid_b9s">
                    <div class="col-md p-5">
                        <small class="text-light fw-medium d-block">Model B9 Socel</small>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_1" value="1" onclick="setDisplay('b9s_1')" />
                            <label class="form-check-label" for="b9s_1">1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_2" value="1" onclick="setDisplay('b9s_2')" />
                            <label class="form-check-label" for="b9s_2">2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_3" value="1" onclick="setDisplay('b9s_3')" />
                            <label class="form-check-label" for="b9s_3">3</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_4" value="1" onclick="setDisplay('b9s_4')" />
                            <label class="form-check-label" for="b9s_4">4</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_5" value="1" onclick="setDisplay('b9s_5')" />
                            <label class="form-check-label" for="b9s_5">5</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_6" value="1" onclick="setDisplay('b9s_6')" />
                            <label class="form-check-label" for="b9s_6">6</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_7" value="1" onclick="setDisplay('b9s_7')" />
                            <label class="form-check-label" for="b9s_7">7</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_8" value="1" onclick="setDisplay('b9s_8')" />
                            <label class="form-check-label" for="b9s_8">8</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_9" value="1" onclick="setDisplay('b9s_9')" />
                            <label class="form-check-label" for="b9s_9">9</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_91" value="1" onclick="setDisplay('b9s_91')" />
                            <label class="form-check-label" for="b9s_91">9.1</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_92" value="1" onclick="setDisplay('b9s_92')" />
                            <label class="form-check-label" for="b9s_92">9.2</label>
                        </div>
                        <div class="form-check form-check-inline mt-1 g-0">
                            <input class="form-check-input" type="checkbox" id="b9s_10" value="1" onclick="setDisplay('b9s_10')" />
                            <label class="form-check-label" for="b9s_10">10</label>
                        </div>
                    </div>
                </div>

          </div>
          <div class="col-2 mt-12 g-3">
            <h5>Function No.</h5>
            <p>
                1. Power Consumption <br />
                2. Cutting Current <br />
                3. Buttonhole foot 3A calibration <br />
                4. Bobbin Case [03553697.5.00] <br />
                5. Sewing Foot Detection ABC sensor <br />
                6. Differrent weight <br />
                7. Thread Tension Calibration <br />
                8. TTA adjustment (fine adjustment) <br />
                9. Balance Rough Adjustment <br />
                9.1 Balance Fine Adjustment <br />
                9.2 BDF Balance Fine Adjustment <br />
                10. Base plate
            </p>
          </div>
        </div>
        <hr />
    </div>

</div>
@section PageScripts {
    <script src="~/js/topviewcfg.js"></script>
}
