/* Custom styles goes here */
.imageLogo {
  box-shadow: 8px 0px 8px 0px rgba(0.5, 0, 0.5, 0.3);
}
.success_label {
  color: darkgreen;
  text-underline-position:under;
}
.img-fluid {
    height:300px;
}

.TableTextSize {
  font-size: 0.8rem;
}

#bindEffDataTable.dataTable table,
#bindEffDataTable.dataTable td,
#bindEffDataTable.dataTable th {
  font-size: 7px !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background: none;
}
th {
  white-space: nowrap;
  outline: none;
}
.sort-btn {
  padding: 0px;
  float: right;
  font-size: 10px;
}
.labelinfo_small {
  font-size: 11px !important;
}
