@{
    ViewData["Title"] = "Thread Tension Calibration";
}

@{
    var isFullscreen = ViewData["isFullscreen"]?.ToString() == "true";
    var navbarType = isFullscreen ? "layout-navbar-hidden" : "layout-navbar-fixed";
    var menuFixed = isFullscreen ? "" : "menu-fixed";
    var isNavbar = isFullscreen ? false : true;
    var isMenu = isFullscreen ? false : true;
    var strCaption = isFullscreen ? "Exit full screen" : "Full screen";
    //ViewData["navbarHideToggle"] = true;
    // *** No Menus ***
    ViewData["isMenu"] = isMenu;
    ViewData["menuFixed"] = menuFixed;
    // *** No Navbar ***
    ViewData["isNavbar"] = isNavbar;
    ViewData["navbarType"] = navbarType;

}

@section VendorScripts {

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/datatables.min.js"></script>


    @* <script src="~/js/moment.js"></script> *@

    @* <script src="~/js/form-basic-inputs.js"></script> *@
    @* <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.min.js"></script> *@

    <!-- Chart.js -->
    <script src="~/js/chart.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> *@

    <!-- Luxon Date Library -->
    <script src="~/js/luxon.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script> *@

<!-- Chart.js Luxon Adapter -->
    <script src="~/js/chartjs-adapter-luxon@1.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script> *@

    <script src="~/js/chart.umd.min.js"></script>
    <script src="~/js/index.umd.min.js"></script>

}

@section PageStyles {
    <link href="~/css/ttapparatus.css" rel="stylesheet" asp-append-version="true" />
}

@* ************** Content ************** *@
<div class="row g-8 mb-8">
  <!-- Criteria Header -->
  <div class="card">
    
    <div class="card-body">
      <input type="hidden" id="txtSerial" class="form-control" style="display:none" />
      <input type="hidden" id="ddlSeries" class="form-control" />
      <button onclick="viewThreadDataTable()" class="" style="display:none">View Data</button>
      <!-- Scatter chart -->
      <div class="row mb-3">
          <div class="col-md-6">
            <a href="/">
                        <i class="ri-arrow-left-circle-line"></i>Home
                    </a>
                    <button id="btnB3" class="btn btn-light h-20" type="button" onclick="callFuncButton('3');">B3</button>
                    <button id="btnB4" class="btn btn-light h-20" type="button" onclick="callFuncButton('4');">B4</button>
                    <button id="btnB5" class="btn btn-light h-20" type="button" onclick="callFuncButton('5');">B5</button>
                    <button id="btnB7" class="btn btn-light h-20" type="button" onclick="callFuncButton('7');">B7</button>
                    <button id="btnB9" class="btn btn-light h-20" type="button" onclick="callFuncButton('9');">B9</button>
              @* <label>Serial</label> *@
              <h5 class="card-header" id="title_msg">@ViewData["Title"] <span id="lblSeries" class="text-bold"></span></h5>

              <small class="text-light fw-medium d-block">Data range</small>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="criteria" id="criteria2" value="option2" onclick="loadCalibrationChart('W')" />
                  <label class="form-check-label" for="criteria2">Week</label>
              </div>
              <div class="form-check form-check-inline mt-4">
                  <input class="form-check-input" type="radio" name="criteria" id="criteria3" value="option1" onclick="loadCalibrationChart('M')" />
                  <label class="form-check-label" for="criteria3">Month</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="criteria" id="criteria4" value="option2" onclick="loadCalibrationChart('HY')" />
                  <label class="form-check-label" for="criteria4">Halfyear</label>
              </div>

          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-6">
                <label>From</label>
                <input type="date" id="fromDate" class="form-control" />
              </div>
              <div class="col-sm-6">
                <label>To</label>
                <input type="date" id="toDate" class="form-control" />
              </div>
            </div>
          </div>
          
          <div class="col-md-2 align-items-center"> &nbsp; 
              <button onclick="loadCalibrationChart()" class="btn btn-primary w-100">Search</button> &nbsp; 
              <button class="btn btn-success w-100" type="button" id="btnExport">EXPORT</button> &nbsp;
              <button class="btn btn-info w-100" type="button" id="btnAddRemark">REMARK</button>
          </div>
      </div>
      <!-- Scatter chart -->
      <div class="row mb-3">
          <div class="col-md-10">
            <canvas id="calibrationChart" height="200"></canvas>
          </div>
          <div class="col-md-2 labelinfo_small"> #
            <input type="hidden" id="McParam1" />
            <input type="hidden" id="McParam2" />
            <input type="hidden" id="McParam3" />
            <input type="hidden" id="McParam4" />
            <input type="hidden" id="McParam5" />
            <input type="hidden" id="McParam6" />
            <input type="hidden" id="McParam7" />
            <input type="hidden" id="McParam8" />
            <input type="hidden" id="McParam9" />
            <input type="hidden" id="McParam10" />

            <span id="lblSummaryTest">✅ Summary test result</span> <br />
                    
                    <span id="lblPrdYeild"></span><br />
                    <span id="lblTotalNormalCut">Total normal cut [0]</span><br />
                    <span id="lblTotalMaxCut">Total max cut [0]</span><br />
                    <span id="lblTotalClosetoCut">Total close to max [0]</span><br />
                    <span id="lblMinTotal">Total [0]</span> <br />

              <span id="lblTotalTest">Total [0]</span>
              <span id="lblAlarmB"></span>
              <span id="lblAlarmB_info"></span>
              <span id="lblAlarmA"></span>
              <span id="lblAlarmA_info"></span>

              <span id="lbl7DTotalTest">Total [0]</span>
              <span id="lbl7DAlarmB"></span>
              <span id="lbl7DAlarmB_info"></span>
              <span id="lbl7DAlarmA"></span>
              <span id="lbl7DAlarmA_info"></span>
          </div>
      </div>
      

      <div class="row mb-3">
          <div class="col-md-12">
            <div class="card-body">
                <p class="text-end">
                  <span style="font-size:0.9rem;color:#666" id="spanNormalCut"></span><span id="spanNormColor" class="text-danger"></span>
                  <span style="font-size:0.9rem;color:#666" id="spanCutMaxWarn"></span><span id="spanWarnColor" class="text-warning"></span>
                  <span style="font-size:0.9rem;color:#666" id="spanCutMaxAlarm"></span><span id="spanCutColor" class="text-danger"></span>
                </p>
                <p class="text-end">
                  <span style="font-size:0.9rem;color:#666" id="spanPrdYeild"></span>
                    <span id="spanYeildFormular"></span>
                </p>
                <table id="bindDataTable" class="table table-striped table-bordered dt-responsive" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Serial</th>
                            <th>Val A</th>
                            <th>Val B</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>	
          </div>
      </div>

    </div>
  </div>
</div>


<div class="layout-demo-info">
    <button class="btn btn-outline-secondary" id="toggleFullscreenBtn">
        <i class="bx bx-fullscreen"></i> @strCaption
    </button>
    <button class="" id="BtnBoxPlot" style="display:none">
        <i class="bx bx-fullscreen"></i> Box plot 
    </button>
</div>


<!-- Modal Loading -->
<div class="modal fade" id="loadingModal"
  tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tdVarAlign">
                <img src="~/img/loading200w.gif" />
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@section PageScripts {
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ttapparatus.js" asp-append-version="true"></script>

    <script src="~/js/xlsx.full.min.js"></script>
    <script src="~/js/jszip.min.js"></script>

    @* <script src="~/js/boxplot.js"></script> *@
}
