USE [BTBIDataUtilize]
GO
/****** Object:  StoredProcedure [dbo].[SP_BATLNK_MigTTApparatusOffset]    Script Date: 10-08-2026 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:  <Sakulchai.P>
-- Create date: <11/03/2024>
-- Description: Get data Thread Tension Apparatus from BI to BT
-- V100  Sakulchai.P  ดึงข้อมูลทีละ 1 part tools พอ
-- V200  04-08-2026  แก้ syntax error (CTE ไม่ปิดวงเล็บก่อน INSERT) และแปลง
--       INSERT-if-not-exists เป็น MERGE (Insert/Update) เพื่อรองรับ Windows
--       Scheduler ที่เปลี่ยนจากวันละ 1 ครั้ง เป็นทุกชั่วโมง — Key: serial + productionDate
-- =============================================
ALTER   PROCEDURE [dbo].[SP_BATLNK_MigTTApparatusOffset]

AS
BEGIN
    SET NOCOUNT ON;

    -- ช่วงเวลา: ย้อน 3 วันจนถึงก่อนวันนี้ (exclusive)
    --DECLARE @fromDate        DATETIME = CONVERT(DATETIME, DATEADD(DAY, -3, CONVERT(DATE, GETDATE()))); -- 3 วันก่อน 00:00
    --DECLARE @toDateExclusive DATETIME = CONVERT(DATETIME, CONVERT(DATE, GETDATE()));                    -- วันนี้ 00:00
 -- #Daily Migrate
 DECLARE @fromDate VARCHAR(15) = FORMAT(DATEADD(DAY, -7, CONVERT(DATE, GETDATE())), 'yyyy-MM-dd'); -- 3 วันก่อน 00:00
 DECLARE @toDateExclusive VARCHAR(15) = FORMAT(GETDATE(), 'yyyy-MM-dd');
 -- #Manual Migrate
 --DECLARE @fromDate VARCHAR(30) = '2026-01-01';
 --DECLARE @toDateExclusive VARCHAR(30) = '2026-01-25 23:59:59';

 -- Query from Daniel
    ;WITH src AS (

  SELECT TOP(10000)
   sewingMachine.serial,
   sewingMachine.productionDate,
   machineType.series,
   machineType.name,
   testExecution.id,
   testRun.startDate,
   CDPlower.longValue AS OFSLow,
   CDPhigher.longValue AS OFShigher,
   CDPhighest.longValue AS OFShighest

  FROM [pamtesterdb.bernina.com].[pamtesterdb].[dbo].sewingMachine sewingMachine
     JOIN  [pamtesterdb.bernina.com].[pamtesterdb].[dbo].machineType machineType on machineType.id = sewingMachine.machineTypeId
     JOIN  [pamtesterdb.bernina.com].[pamtesterdb].[dbo].testRun testRun ON testRun.machineId = sewingMachine.id
     JOIN  [pamtesterdb.bernina.com].[pamtesterdb].[dbo].testExecution testExecution ON testExecution.testRunId = testRun.id
     JOIN  [pamtesterdb.bernina.com].[pamtesterdb].[dbo].checkoutDataParameter CDPlower ON CDPlower.testExecutionId = testExecution.id AND CDPlower.parameterId IN ('1572')
     JOIN  [pamtesterdb.bernina.com].[pamtesterdb].[dbo].checkoutDataParameter CDPhigher ON CDPhigher.testExecutionId = testExecution.id AND CDPhigher.parameterId IN ('1565')
     JOIN  [pamtesterdb.bernina.com].[pamtesterdb].[dbo].checkoutDataParameter CDPhighest ON CDPhighest.testExecutionId = testExecution.id AND CDPhighest.parameterId IN ('1568')
  WHERE machineType.series IN ('4','5','7','9')
  AND (sewingMachine.productionDate >= @fromDate AND sewingMachine.productionDate < @toDateExclusive)
  ORDER BY sewingMachine.productionDate DESC, testExecution.id DESC

    )

    MERGE dbo.mig_ThreadTensionAppOffset AS tgt
    USING src AS s
        ON  tgt.serial COLLATE DATABASE_DEFAULT = s.serial COLLATE DATABASE_DEFAULT
        AND tgt.productionDate                  = s.productionDate
    WHEN MATCHED THEN
        UPDATE SET
            tgt.series      = s.series,
            tgt.[name]      = s.[name],
            tgt.idref       = s.id,
            tgt.StartDate   = s.startDate,
            tgt.OFSLow      = s.OFSLow,
            tgt.OFShigher   = s.OFShigher,
            tgt.OFShighest  = s.OFShighest
    WHEN NOT MATCHED BY TARGET THEN
        INSERT ([serial], [productionDate], [series], [name], [idref], [StartDate], [OFSLow], [OFShigher], [OFShighest])
        VALUES (s.serial, s.productionDate, s.series, s.[name], s.id, s.startDate, s.OFSLow, s.OFShigher, s.OFShighest);

END


EXEC [SP_BATLNK_MigTTApparatus];
EXEC dbo.SP_BATLNK_MigTTApparatusOffset;
EXEC dbo.SP_BATLNK_MigDataPowerConsumtion '3';
EXEC dbo.SP_BATLNK_MigDataPowerConsumtion '7';

-- #Manual Migrate
DECLARE @fromDate VARCHAR(30) = '2026-08-08';
DECLARE @toDateExclusive VARCHAR(30) = '2026-08-08 23:59:59';
--DECLARE @fromDate VARCHAR(15) = FORMAT(DATEADD(DAY, -7, CONVERT(DATE, GETDATE())), 'yyyy-MM-dd'); -- 3 วันก่อน 00:00
--DECLARE @toDateExclusive VARCHAR(15) = FORMAT(GETDATE(), 'yyyy-MM-dd');
 
 SELECT TOP(15000) -- * FROM mig_ThreadTensionAppOffset 
 --WHERE productionDate >= @fromDate AND productionDate < @toDateExclusive 

   SEW.serial,
   SEW.productionDate,
   MCType.series,
   MCType.name as 'mc_name',
   TEXEC.id AS 'mig_id',
   CDPdiff.longValue AS 'CDPdiff',
   CDPlower.longValue AS 'CDPlower',
   CDPhigher.longValue AS 'CDPhigher',
   CDPhighest.longValue AS 'CDPhighest'

  FROM  [dbo].sewingMachine SEW
     JOIN  [dbo].machineType MCType on MCType.id = SEW.machineTypeId
     JOIN  [dbo].testRun TRUN ON TRUN.machineId = SEW.id
     JOIN  [dbo].testExecution TEXEC ON TEXEC.testRunId = TRUN.id

     JOIN  [dbo].checkoutDataParameter CDPdiff ON CDPdiff.testExecutionId = TEXEC.id AND CDPdiff.parameterId IN ('1533')
     JOIN  [dbo].checkoutDataParameter CDPlower ON CDPlower.testExecutionId = TEXEC.id AND CDPlower.parameterId IN ('1571')
     JOIN  [dbo].checkoutDataParameter CDPhigher ON CDPhigher.testExecutionId = TEXEC.id AND CDPhigher.parameterId IN ('1564')
     JOIN  [dbo].checkoutDataParameter CDPhighest ON CDPhighest.testExecutionId = TEXEC.id AND CDPhighest.parameterId IN ('1567')
  WHERE MCType.series IN ('5')
  AND (SEW.productionDate >= @fromDate AND SEW.productionDate < @toDateExclusive)
  ORDER BY SEW.productionDate DESC, TEXEC.id DESC

---------------
DECLARE @fromDate VARCHAR(30) = '2026-08-08';
DECLARE @toDateExclusive VARCHAR(30) = '2026-08-08 23:59:59';
SELECT * FROM dbo.mig_ThreadTensionApparatus
WHERE productionDate >= '2026-08-08' AND productionDate < '2026-08-09'
  AND series = '5'
ORDER BY productionDate DESC;