USE [BTBIDataUtilize]
GO
-- ============================================================
-- SP_GetPowerConsumptionKPI
-- KPI summary สำหรับ Card 1 (Power Consumption) บนหน้า KPIs/Index
--
-- Fail condition: end_power > max_fail  (End Power เกิน Max Limit)
--
-- @series    VARCHAR(20) : '3' | '7'
-- @flagrange VARCHAR(5)  : 'W'=7d | 'M'=30d | 'Y'=365d | 'D'=custom
-- @dt_from / @dt_to      : 'YYYY-MM-DD'  (เฉพาะ flagrange='D')
-- ============================================================
CREATE OR ALTER PROCEDURE [dbo].[SP_GetPowerConsumptionKPI]
  @series    VARCHAR(20) = NULL,
  @flagrange VARCHAR(5)  = 'W',
  @dt_from   VARCHAR(10) = NULL,
  @dt_to     VARCHAR(10) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  -- 1. คำนวณช่วงวันที่
  DECLARE @dtFrom DATETIME;
  DECLARE @dtTo   DATETIME;

  IF @flagrange = 'D' AND @dt_from IS NOT NULL AND @dt_to IS NOT NULL
  BEGIN
    SET @dtFrom = CAST(@dt_from AS DATETIME);
    SET @dtTo   = DATEADD(SECOND, 86399, CAST(@dt_to AS DATETIME));
  END
  ELSE
  BEGIN
    SET @dtFrom =
      CASE @flagrange
        WHEN 'M' THEN DATEADD(DAY, -30,  GETDATE())
        WHEN 'Y' THEN DATEADD(DAY, -365, GETDATE())
        ELSE           DATEADD(DAY, -7,   GETDATE())  -- 'W' default
      END;
    SET @dtTo = GETDATE();
  END;

  -- 2. โหลด Limit จาก passfail_param (mnufunc='1')
  DECLARE @max_fail DECIMAL(18,3) = NULL;
  DECLARE @min_fail DECIMAL(18,3) = NULL;

  SELECT
    @max_fail = max_fail,
    @min_fail = min_fail
  FROM passfail_param
  WHERE series  = @series
    AND mnufunc = '1';

  -- 3. นับ total / fail จาก mig_DataPowerConsumtion
  --    Fail = end_power > max_fail (End Power เกิน Max Limit)
  DECLARE @total_count INT = 0;
  DECLARE @fail_count  INT = 0;

  SELECT
    @total_count = COUNT(*),
    @fail_count  = SUM(CASE
                     WHEN @max_fail IS NOT NULL AND end_power > @max_fail
                     THEN 1 ELSE 0
                   END)
  FROM mig_DataPowerConsumtion
  WHERE series          = @series
    AND productionDate >= @dtFrom
    AND productionDate <= @dtTo;

  -- 4. คืนผลลัพธ์
  SELECT
    @series                                                          AS series,
    CONVERT(VARCHAR(10), @dtFrom, 120)                              AS dt_from,
    CONVERT(VARCHAR(10), @dtTo,   120)                              AS dt_to,
    @total_count                                                     AS total_count,
    ISNULL(@fail_count, 0)                                          AS fail_count,
    CASE
      WHEN @total_count > 0
      THEN CAST(ISNULL(@fail_count, 0) * 100.0 / @total_count AS DECIMAL(5,2))
      ELSE 0
    END                                                              AS fail_pct,
    ISNULL(@max_fail, -1)                                           AS max_fail,
    ISNULL(@min_fail, -1)                                           AS min_fail,
    CASE WHEN @max_fail IS NOT NULL THEN 1 ELSE 0 END               AS has_limit;
END;
GO