USE [BTBIDataUtilize]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPassFailByLineId]    Script Date: 01-07-2026 10:46:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_GetPassFailByLineId]
	@lineid varchar(30) = NULL
AS
BEGIN
        SET NOCOUNT ON;

	-- B9 stores data under lineid '9P'; map plain '9' to '9P'
	SET @lineid = CASE WHEN @lineid = '9' THEN '9P' ELSE @lineid END;

	SELECT 
		isnull(maxf1, 0) as maxf1, isnull(minf1, 0) as minf1,


		isnull(maxf2, 0) as maxf2, isnull(minf2, 0) as minf2,
		
		isnull(maxf3, 0) as maxf3, isnull(minf3, 0) as minf3,
		isnull(maxf4, 0) as maxf4, isnull(minf4, 0) as minf4,
		isnull(maxf5, 0) as maxf5, isnull(minf5, 0) as minf5,
		isnull(maxf6, 0) as maxf6, isnull(minf6, 0) as minf6,
		isnull(maxf7, 0) as maxf7, isnull(minf7, 0) as minf7,
		isnull(maxf8, 0) as maxf8, isnull(minf8, 0) as minf8,
		isnull(maxf9, 0) as maxf9, isnull(minf9, 0) as minf9,
		isnull(maxf91, 0) as maxf91, isnull(minf91, 0) as minf91,
		isnull(maxf92, 0) as maxf92, isnull(minf92, 0) as minf92,
		isnull(maxf10, 0) as maxf10, isnull(minf10, 0) as minf10
		,totalf1
		,totalf2
		,totalf3
		,totalf4
		,totalf5
		,totalf6
		,totalf7
		,totalf8
		,totalf9

		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 1, 1) as param_maxf1, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 1, 2) as param_minf1
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 2, 1) as param_maxf2, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 2, 2) as param_minf2
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 3, 1) as param_maxf3, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 3, 2) as param_minf3
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 4, 1) as param_maxf4, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 4, 2) as param_minf4
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 5, 1) as param_maxf5, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 5, 2) as param_minf5
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 6, 1) as param_maxf6, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 6, 2) as param_minf6
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 7, 1) as param_maxf7, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 7, 2) as param_minf7
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 8, 1) as param_maxf8, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 8, 2) as param_minf8
		,[dbo].[FUNC_GetPassFailLineMenu](@lineid, 9, 1) as param_maxf9, [dbo].[FUNC_GetPassFailLineMenu](@lineid, 9, 2) as param_minf9

	FROM topview_lineconfig 
	WHERE @lineid IS NULL OR lineid = @lineid
	
END