USE [BTBIDataUtilize]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sakulchai.P>
-- Create date: <11/03/2024>
-- Description:	<Select user Windows Authen>
-- V100		Sakulchai.P		1 part tools
-- V102		Sakulchai.P		Hook Step 0/1 Add Model Add RPM    
-- =============================================
ALTER PROCEDURE [dbo].[SP_LNK_Top10Tailed] 	
	@series VARCHAR(25)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @MONITOR_DT DATETIME = convert(date, dateadd(day, -1, getdate()));
	SELECT monitor_dt, series, Test, fails, ratio, fails_test, testratio
	FROM RPTTop10Daily
	WHERE monitor_dt = @MONITOR_DT AND series = @series
	ORDER BY fails DESC;

END

-- exec SP_LNK_Top10Tailed '4';