@{
  ViewData["Title"] = "B4 Model Data";
}

@section VendorScripts {

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/datatables.min.js"></script>


    @* <script src="~/js/moment.js"></script> *@

    @* <script src="~/js/form-basic-inputs.js"></script> *@
    @* <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.min.js"></script> *@

    <!-- Chart.js -->
    <script src="~/js/chart.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> *@

    <!-- Luxon Date Library -->
    <script src="~/js/luxon.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script> *@

<!-- Chart.js Luxon Adapter -->
    <script src="~/js/chartjs-adapter-luxon@1.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script> *@

}



@* ************** Content ************** *@
<div class="row g-8 mb-8">
  <!-- Criteria Header -->
  <div class="card">
    <h5 class="card-header" itemid="title_msg">Max thread cutting</h5>
    <div class="card-body">

      <!-- Scatter chart -->
      <!-- Filters -->
      <div class="row mb-3">
          <div class="col-md-3">
              <label>Serial</label>
              <select id="serialFilter" class="form-select">
                  <option value="">-- All serial --</option>
              </select>
          </div>
          <div class="col-md-3">
              <label>From date</label>
              <input type="date" id="dateFrom" class="form-control" />
          </div>
          <div class="col-md-3">
              <label>To date</label>
              <input type="date" id="dateTo" class="form-control" />
          </div>
          <div class="col-md-3 d-flex align-items-end">
              <button class="btn btn-primary w-100" onclick="loadChart()">🔍 Search</button>
          </div>
      </div>

      <div class="row mb-3">
        <!-- Scatter Chart -->
        <canvas id="scatterChart" width="900" height="400"></canvas>
        <!-- /Scatter chart -->
      </div>

      <div class="row mb-3">
        <div class="table-responsive">
            <table id="bindDataTable" class="table table-striped table-bordered dt-responsive" width="100%">
                <thead>
                    <tr>
                        <th>Serial</th>
                        <th>Max Normal</th>
                        <th>Max Cutter</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal Loading -->
<div class="modal fade" id="loadingModal"
  tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tdVarAlign">
                <img src="~/img/loading200w.gif" />
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@section PageScripts {
    
    <script src="~/js/maxcut_chart.js"></script>
}
